.degree-footer {
    display: flex;
    flex-direction: row;
    padding: 2em;
    background-color: var(--blue);
    color: black;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
}