.product-grid-item {
    position: relative;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.product-grid-item > div {
    display: flex;
    flex-direction: row;
}

.product-grid-item > div > .product-grid-item-title {
    font-size: large;
    flex: 1;
}

.product-grid-item:hover > .product-item-fav {
    opacity: 1;
    visibility: visible;
}

.product-item-fav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: .5em;
    right: .5em;
    transition: .2s all;
    cursor: pointer;
}