master-degree-sidebar {
    width: 100%;
}

::ng-deep register-page, 
::ng-deep login-page {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width) {
    master-degree-sidebar {
        max-width: 300px;
    }
}